numpy==1.18.4
packaging==20.1
pandas==0.24.2
scipy==1.1.0
argparse==1.1
QInfer==1.0
autopep8==1.5
docutils==0.14
fermilib==0.1a3
fpdf==1.7.2
future==0.17.1
jupyter-core==4.4.0 #unnecessary but recommended
matplotlib # matplotlib==3.0.3
networkx==2.3
pep8==1.7.0
pickleshare==0.7.5
pytest==5.3.5
redis==3.5.3
rq==1.7.0
scikit-learn==0.21.3
seaborn==0.9.0
sklearn==0.0
Sphinx==1.7.0
lfig>=0.1.1
Cython==0.27.3  #might be required to operate a pre-install of Cython